

@{
    ViewBag.Title = "HGS Payments";
}
    <div class="col-md-12">

        <h2>Subscriber Inquiry</h2>

        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                        <form action="/hgs/Create" method="get">
                            <button type="submit" class="btn btn-block btn-success">Subscribe To New Hgs</button>
                        </form>

                    </div>
                </div>
                
            </div>
            <!-- /.box-header -->
            <div class="col-md-12">
                @{
                    try
                    {
                        if (TempData["status"].ToString() == "0")
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                @TempData["StatusDescription"].ToString()
                            </div>
                        }
                        else if (TempData["status"].ToString() == "1")
                        {
                            <div class="alert alert-success alert-dismissible">
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                @TempData["StatusDescription"].ToString()
                            </div>
                        }

                    }
                    catch (Exception)
                    {
                    }
                }
            </div>
            
                <div class="box-body">
                    <div class="col-sm-12">

                        <form action="/hgs/payment" method="get">
                            <!-- text input -->
                            @*<div class="form-group">
                            <label for="">Your Own Accounts</label>
                            <select class="form-control" id="ReceiverAccountNo" name="ReceiverAccountNo">
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <option value="@item.accountNo">@item.accountNo</option>
                                    }
                                }
                            </select>
                        </div>*@
                            <div class="form-group">
                                <label>HGS Subscriber Number</label>
                                <input class="form-control" name="hgsNo" placeholder="Enter ...">
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Continue</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
    </div>